<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Connect to websocket
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            // When connected, configure buttons
            socket.on('connect', () => {

                // Each button should emit a "submit vote" event
                document.querySelector('#channel_submit').onclick = () => {
                    const channelname = document.querySelector('#channelname').value;
                    console.log(channelname);
                    socket.emit('update channel', {'channelname': channelname});
                }

                // Each button should emit a "submit vote" event
                document.querySelector('#chat_submit').onclick = () => {
                    const chat = document.querySelector('#message').value;
                    console.log(chat);
                    socket.emit('update chat', {'chat': chat});
                }
            });


            // When a new vote is announced, increase the count
            socket.on('channel updated', data => {
                const channelLength = Object.keys(data).length;
                // Create new channel.
                const post = document.createElement('div');
                post.className = 'channel';
                post.value = data[channelLength-1];
                post.innerHTML = data[channelLength-1];

                // Create remove button.
                const remove = document.createElement('button');
                remove.className = 'btn btn-outline-danger';
                remove.innerHTML = 'Remove';
                remove.style = 'float:right;';
                post.append(remove);
                remove.onclick = function() {
                    this.parentElement.remove();
                    const channelname = this.parentElement.value;
                    console.log(channelname);
                    socket.emit('delete channel', {'channelname': channelname});
                }
                // Add post to DOM.
                document.querySelector('#channel_list').append(post);
            });


            // When a new vote is announced, increase the count
            socket.on('chat updated', data => {
                const info = JSON.parse(data);

                const selected_time = document.createElement('div');
                selected_time.className = 'selected_time';
                selected_time.value = info.time;
                selected_time.innerHTML = info.time;

                const selected_user = document.createElement('div');
                selected_user.className = 'selected_user';
                selected_user.value = info.user;
                selected_user.innerHTML = info.user;

                const selected_message = document.createElement('div');
                selected_message.className = 'selected_message';
                selected_message.value = info.message;
                selected_message.innerHTML = info.message;

                document.querySelector('#chat_list').append(selected_time);
                document.querySelector('#chat_list').append(selected_user);
                document.querySelector('#chat_list').append(selected_message);
            });


            //check if current user is logged in or not, if logged in, hide login content, display logout content
            //If the user is not logged in, display login content and hide logout content
            var login_status = document.querySelector('#login_status').innerHTML;
            if (login_status == 'Yes') {
                document.querySelector('#login_form').style.visibility = "hidden";
                document.querySelector('#logout_form').style.visibility = "visible";
            } else if (login_status == 'No') {
                document.querySelector('#login_form').style.visibility = "visible";
                document.querySelector('#logout_form').style.visibility = "hidden";
            };
        });
        //Data is name of channel, and element is parent element
        function removeOld(data, element){
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            element.remove();
            socket.emit('delete channel', {'channelname': data});
        };
        </script>
        <title>Vote</title>
    </head>
    <body>
        <div class="container">
            <h1 id="title_center"><a href="/">Edward Kang's Project 2!</a></h1>
            <div class="parent">
                <div id="login_form" class="child1">
                    <!-- Subtitle of main page -->
                    <form action="{{ url_for('loginPost') }}" method="post">
                        <div id="subtitle_center2" class="form-group">
                            <input type="text" name="username" placeholder="username">
                            <button class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
                <div id="logout_form" class="child1">
                    <!-- this activate logout function which allows users to logout -->
                    <div class="child2">
                        <form action="{{ url_for('logout') }}">
                            <button id="logout_button" class="btn btn-primary">Logout</button>
                        </form>
                    </div>

                    <!-- this section display who current logged in user is -->
                    <div class="child2">
                        <h2 id="logout_block">Welcome, {{ username }}</h2>
                    </div>
                </div>
                <p id="login_status" style="display: none;">{{ login_status }}</p>
                <p id="login_error" style="display: none;">{{ login_error }}</p>
            </div>
            <hr>
            <div id="channel_box">
                <div id="channel_form">
                    <!-- Subtitle of main page -->
                    <div id="subtitle_center2" class="form-group">
                        <input type="text" id="channelname" name="channelname" placeholder="channelname">
                        <button id="channel_submit" class="btn btn-success">Create</button>
                    </div>
                </div>
                <div id="channel_list">
                    {% for channel in channels %}
                    <div class="channel" value="{{ channel }}">{{ channel }}
                        <button class="btn btn-outline-danger" onclick="removeOld(`{{ channel }}`, this.parentNode)" style="float:right;">Remove</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="chat_box">
                <div id="subtitle_center2" class="form-group">
                    <input type="text" id="message">
                    <button id="chat_submit" class="btn btn-primary">Send</button>
                </div>
                <div>
                    {% for chat in chats %}
                    <div class="selected_time" value="{{ chat.time }}">{{ chat.time }}</div>
                    <div class="selected_user" value="{{ chat.user }}">{{ chat.user }}</div>
                    <div class="selected_message" value="{{ chat.message }}">{{ chat.message }}</div>
                    {% endfor %}
                    <div id="chat_list">

                    </div>
                </div>
            </div>
            <div style="display: none;">
                <button id="remove"></button>
            </div>
        </div>
    </body>
</html>
