<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script>
        document.addEventListener('DOMContentLoaded', () => {

            loginAndLogout();

            // Connect to websocket
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            // When connected, configure buttons
            socket.on('connect', () => {

                // Add new channel
                document.querySelector('#channel_submit').onclick = () => {
                    const channelname = document.querySelector('#channelname').value;
                    console.log(channelname);
                    socket.emit('update channel', {'channelname': channelname});
                }

                // Add new chat
                document.querySelector('#chat_submit').onclick = () => {
                    const chat = document.querySelector('#message').value;
                    const channel = document.querySelector('#current_channelname').innerHTML;
                    //const data = chat + "/" + channel
                    console.log(channel);
                    socket.emit('update chat', {'chat': chat, 'channel': channel});
                }
            });


            // Create new elements for new channel in channel list
            socket.on('channel updated', data => {
                const channelLength = Object.keys(data).length;

                // Create new channel.
                const newDiv = document.createElement('div');
                newDiv.className = 'channel';
                newDiv.value = data[channelLength-1];

                // Create hidden input.
                const hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'text');
                hiddenInput.className = 'hiddenChannel';
                hiddenInput.setAttribute('value', data[channelLength-1]);
                hiddenInput.style = 'display: none;';
                newDiv.append(hiddenInput);

                // Create submit button.
                const newSubmit = document.createElement('button');
                newSubmit.className = 'btn btn-link';
                newSubmit.setAttribute('onclick', 'selectChannel(\'' + data[channelLength-1] + '\', this.parentNode)');
                newSubmit.innerHTML = data[channelLength-1];
                newDiv.append(newSubmit);

                // Create remove button.
                const newRemove = document.createElement('button');
                newRemove.className = 'btn btn-outline-danger';
                newRemove.setAttribute('onclick', 'removeOld(\'' + data[channelLength-1] + '\', this.parentNode)');
                newRemove.innerHTML = 'Remove';
                newRemove.style = 'float:right;';
                newDiv.append(newRemove);

                remove.onclick = function() {
                    this.parentElement.remove();
                    const channelname = this.parentElement.value;
                    socket.emit('delete channel', {'channelname': channelname});
                }

                // Add post to DOM.
                document.querySelector('#channel_list').append(newDiv);
            });


            // Create new elements for new channel in channel list
            socket.on('channel exist', data => {

                const msg = data.split("/")[0];
                const user = data.split("/")[1];
                const current_username = document.querySelector('#current_username').innerHTML;

                console.log(msg);
                console.log(user);
                console.log(current_username);

                if (user == current_username){
                    alert(msg);
                }
            });


            // When a new vote is announced, increase the count
            socket.on('chat updated', data => {

                var channel_status = document.querySelector('#current_channelname').innerHTML;

                const info = JSON.parse(data);

                console.log("current: " + channel_status);
                console.log("get: " + info.channel);

                if (info.channel == channel_status){

                    const selected_time = document.createElement('div');
                    selected_time.className = 'selected_time';
                    selected_time.value = info.time;
                    selected_time.innerHTML = info.time;

                    const selected_user = document.createElement('div');
                    selected_user.className = 'selected_user';
                    selected_user.value = info.user;
                    selected_user.innerHTML = info.user;

                    const selected_message = document.createElement('div');
                    selected_message.className = 'selected_message';
                    selected_message.value = info.message;
                    selected_message.innerHTML = info.message;

                    document.querySelector('#new_chats').append(selected_time);
                    document.querySelector('#new_chats').append(selected_user);
                    document.querySelector('#new_chats').append(selected_message);
                }
            });


            //Enter keys for each buttons
            var login_input = document.querySelector("#input_username");
            login_input.addEventListener("keyup", function(event) {
               event.preventDefault();
               if (event.keyCode === 13) {
                   document.querySelector("#login").click();
               };
            });

            var channel_input = document.querySelector("#channelname");
            channel_input.addEventListener("keyup", function(event) {
               event.preventDefault();
               if (event.keyCode === 13) {
                   document.querySelector("#channel_submit").click();
               };
            });

            var message_input = document.querySelector("#message");
            message_input.addEventListener("keyup", function(event) {
               event.preventDefault();
               if (event.keyCode === 13) {
                   document.querySelector("#chat_submit").click();
               };
            });
        });

        $(document).ready(function() {
            $("#login").click(function() {
                var username = document.querySelector("#input_username").value;

                $.getJSON({
                    url: "/login",
                    data: {
                        username: username
                    },
                    success: function(data){
                        loginAndLogout(data.login_status);
                        if (data.login_status == "No"){
                            alert("Choosen username already exist.");
                        }
                        document.querySelector("#current_username").innerHTML = data.username;
                        console.log("getJSON: " + data.username);
                    }
                });
            });

            $("#logout").click(function() {
                var username = document.querySelector("#input_username").value;

                $.getJSON({
                    url: "/logout",
                    data: {
                        username: username

                    },
                    success: function(data){
                        loginAndLogout(data.login_status);
                        document.querySelector("#current_username").innerHTML = data.username;
                    }
                });
            });
        });

        function loginAndLogout(data) {
            //check if current user is logged in or not, if logged in, hide login content, display logout content
            //If the user is not logged in, display login content and hide logout content
            if (data != null){
                var login_status = data;
            } else {
                var login_status = document.querySelector('#login_status').innerHTML;
            }
            if (login_status == 'Yes') {
                document.querySelector('#login_form').style.visibility = "hidden";
                document.querySelector('#logout_form').style.visibility = "visible";
            } else if (login_status == 'No') {
                document.querySelector('#login_form').style.visibility = "visible";
                document.querySelector('#logout_form').style.visibility = "hidden";
            };
        };

        function selectChannel(channel){

            console.log("Channel: " + channel);

            $.getJSON({
                url: "/channelSelect",
                data: {
                    channelname: channel

                },
                success: function(data){
                    document.querySelector("#current_channelname").innerHTML = data.channelname;

                    var oldChats = document.querySelector('#old_chats');
                    oldChats.parentNode.removeChild(oldChats);
                    var newChats = document.querySelector('#new_chats');
                    newChats.parentNode.removeChild(newChats);

                    if (!$('#hello').length) {
                        // Create form
                        const oldChats = document.createElement('div');
                        oldChats.setAttribute('id', 'old_chats');

                        const newChats = document.createElement('div');
                        newChats.setAttribute('id', 'new_chats');

                        document.querySelector('#all_chats').append(oldChats);
                        document.querySelector('#all_chats').append(newChats);
                    }

                    var i = 0;
                    for (i; i<data.channellength; i++){
                        const selected_time = document.createElement('div');
                        selected_time.className = 'selected_time';
                        selected_time.value = data.chats[i].time;
                        selected_time.innerHTML = data.chats[i].time;

                        const selected_user = document.createElement('div');
                        selected_user.className = 'selected_user';
                        selected_user.value = data.chats[i].user;
                        selected_user.innerHTML = data.chats[i].user;

                        const selected_message = document.createElement('div');
                        selected_message.className = 'selected_message';
                        selected_message.value = data.chats[i].message;
                        selected_message.innerHTML = data.chats[i].message;

                        document.querySelector('#new_chats').append(selected_time);
                        document.querySelector('#new_chats').append(selected_user);
                        document.querySelector('#new_chats').append(selected_message);
                    };
                }
            });
        };

        //Data is name of channel, and element is parent element
        function removeOld(data, element){
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            element.remove();
            socket.emit('delete channel', {'channelname': data});
        };
        </script>
        <title>Ed Kang's Chat</title>
    </head>
    <body>
        <div class="container">
            <h1 id="title_center"><a href="/">Edward Kang's Project 2!</a></h1>
            <div class="menu">
                <div id="login_form" class="menu_content">
                    <!-- Subtitle of main page -->
                    <div id="subtitle_center2" class="form-group">
                        <input type="text" id="input_username" name="username" placeholder="username">
                        <button id="login" class="btn btn-primary">Login</button>
                    </div>
                </div>
                <div id="logout_form" class="menu_content">
                    <!-- this activate logout function which allows users to logout -->
                    <div class="content_item">
                        <button id="logout" class="btn btn-primary">Logout</button>
                    </div>

                    <!-- this section display who current logged in user is -->
                    <div class="content_item">
                        <h2 class="head_block">Welcome, <p id="current_username" class="current_data">{{ username }}</p></h2>
                    </div>
                </div>
                <p id="login_status" style="display: none;">{{ login_status }}</p>
                <p id="login_error" style="display: none;">{{ login_error }}</p>
            </div>
            <hr>
            <div id="channel_box">
                <div id="channel_form">
                    <!-- Subtitle of main page -->
                    <div id="subtitle_center2" class="form-group">
                        <input type="text" id="channelname" name="channelname" placeholder="channel name">
                        <button id="channel_submit" class="btn btn-success">Create</button>
                    </div>
                </div>
                <div id="channel_list">
                    {% for channel in channels %}
                    <div class="channel">
                        <input type="text" name="hiddenChannel" value="{{ channel }}" style="display:none;">
                        <button class="btn btn-link" onclick="selectChannel(`{{ channel }}`, this.parentNode)">{{ channel }}</button>
                        <button class="btn btn-outline-danger" onclick="removeOld(`{{ channel }}`, this.parentNode)" style="float:right;">Remove</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="chat_box">
                <h2 class="head_block">Current Channel: <p id="current_channelname" class="current_data">{{ channelname }}</p></h2>
                <div id="subtitle_center2" class="form-group">
                    <input type="text" id="message" placeholder="message">
                    <button id="chat_submit" class="btn btn-primary">Send</button>
                </div>
                <div id="all_chats">
                    <div id="old_chats">
                        {% for chat in choosenChats %}
                        <div class="selected_time" value="{{ chat.time }}">{{ chat.time }}</div>
                        <div class="selected_user" value="{{ chat.user }}">{{ chat.user }}</div>
                        <div class="selected_message" value="{{ chat.message }}">{{ chat.message }}</div>
                        {% endfor %}
                    </div>
                    <div id="new_chats">

                    </div>
                </div>
            </div>
            <div style="display: none;">
                <button id="remove"></button>
            </div>
        </div>
    </body>
</html>