<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script>

            // if (typeof(Storage) !== "undefined") {
            //     // Store
            //     localStorage.setItem("username", "Smith");
            //     // Retrieve
            //     document.getElementById("result").innerHTML = localStorage.getItem("lastname");
            // } else {
            //     document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
            // }

        document.addEventListener('DOMContentLoaded', () => {

            loginAndLogout();

                // console.log("login clicked: " + username);

                // const request = new XMLHttpRequest();
                // request.open('GET', '/loginPost');
                // request.onload = () => {
                //     const data = JSON.parse(request.responseText);
                //     console.log(data);

            // Connect to websocket
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            // When connected, configure buttons
            socket.on('connect', () => {

                // Each button should emit a "submit vote" event
                document.querySelector('#channel_submit').onclick = () => {
                    const channelname = document.querySelector('#channelname').value;
                    console.log(channelname);
                    socket.emit('update channel', {'channelname': channelname});
                }

                // Each button should emit a "submit vote" event
                document.querySelector('#chat_submit').onclick = () => {
                    const chat = document.querySelector('#message').value;
                    console.log(chat);
                    socket.emit('update chat', {'chat': chat});
                }
            });


            // When a new vote is announced, increase the count
            socket.on('channel updated', data => {
                const channelLength = Object.keys(data).length;

                // Create form
                const newForm = document.createElement('form');
                newForm.action = '/channelSelectPost'
                newForm.method = 'post';

                // Create new channel.
                const newDiv = document.createElement('div');
                newDiv.className = 'channel';
                newDiv.value = data[channelLength-1];
                newForm.append(newDiv);

                // Create hidden input.
                const hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'text');
                hiddenInput.className = 'hiddenChannel';
                hiddenInput.setAttribute('value', data[channelLength-1]);
                hiddenInput.style = 'display: none;';
                newDiv.append(hiddenInput);

                // Create submit button.
                const newSubmit = document.createElement('button');
                newSubmit.className = 'btn btn-link';
                newSubmit.innerHTML = data[channelLength-1];
                newDiv.append(newSubmit);

                // Create remove button.
                const newRemove = document.createElement('button');
                newRemove.className = 'btn btn-outline-danger';
                newRemove.setAttribute('onclick', 'removeOld(\'' + data[channelLength-1] + '\', this.parentNode)');
                newRemove.innerHTML = 'Remove';
                newRemove.style = 'float:right;';
                newDiv.append(newRemove);
                remove.onclick = function() {
                    this.parentElement.remove();
                    const channelname = this.parentElement.value;
                    socket.emit('delete channel', {'channelname': channelname});
                }

                // Add post to DOM.
                document.querySelector('#channel_list').append(newForm);
            });


            // When select new channel, change channel session
            /*socket.on('channel switched', data => {
                document.querySelector('#current_channel_title').innerHTML = data;
                document.querySelector('#current_channel').innerHTML = data;
                console.log("here here " + data);
            });*/


            // When a new vote is announced, increase the count
            socket.on('chat updated', data => {

                var login_status = document.querySelector('#current_channel').innerHTML;
                console.log("current: " + login_status);

                const info = JSON.parse(data);

                if (info.channel == login_status){

                    const selected_time = document.createElement('div');
                    selected_time.className = 'selected_time';
                    selected_time.value = info.time;
                    selected_time.innerHTML = info.time;

                    const selected_user = document.createElement('div');
                    selected_user.className = 'selected_user';
                    selected_user.value = info.user;
                    selected_user.innerHTML = info.user;

                    const selected_message = document.createElement('div');
                    selected_message.className = 'selected_message';
                    selected_message.value = info.message;
                    selected_message.innerHTML = info.message;

                    document.querySelector('#chat_list').append(selected_time);
                    document.querySelector('#chat_list').append(selected_user);
                    document.querySelector('#chat_list').append(selected_message);
                }
            });



        });

        $(document).ready(function() {
            $("#login").click(function() {
                var username = document.querySelector("#input_username").value;

                    $.getJSON({
                    url: "/login",
                    data: {username: username},
                    success: function(data){
                        loginAndLogout(data.login_status);
                        if (data.login_status == "No"){
                            alert("Choosen username already exist.");
                        }
                        document.querySelector("#current_username").innerHTML = data.username;
                        console.log("getJSON: " + data.username);
                    }
                });
            });

            $("#logout").click(function() {
                var username = document.querySelector("#input_username").value;

                    $.getJSON({
                    url: "/logout",
                    data: {username: username},
                    success: function(data){
                        loginAndLogout(data.login_status);
                        document.querySelector("#current_username").innerHTML = data.username;
                    }
                });
            });
        });

        function loginAndLogout(data) {
            //check if current user is logged in or not, if logged in, hide login content, display logout content
            //If the user is not logged in, display login content and hide logout content
            if (data != null){
                var login_status = data;
            } else {
                var login_status = document.querySelector('#login_status').innerHTML;
            }
            if (login_status == 'Yes') {
                document.querySelector('#login_form').style.visibility = "hidden";
                document.querySelector('#logout_form').style.visibility = "visible";
            } else if (login_status == 'No') {
                document.querySelector('#login_form').style.visibility = "visible";
                document.querySelector('#logout_form').style.visibility = "hidden";
            };
        }

        /*function switchChannel(data){
            console.log("switch Clicked!");
            console.log(data);
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            socket.emit('switch channel', {'channelname': data});
        }*/

        //Data is name of channel, and element is parent element
        function removeOld(data, element){
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            element.remove();
            socket.emit('delete channel', {'channelname': data});
        };
        </script>
        <title>Ed Kang's Chat</title>
    </head>
    <body>
        <div class="container">
            <h1 id="title_center"><a href="/">Edward Kang's Project 2!</a></h1>
            <div class="parent">
                <div id="login_form" class="child1">
                    <!-- Subtitle of main page -->
                    <!--
                    <form action="{{ url_for('login') }}" method="post">
                    -->
                    <div id="subtitle_center2" class="form-group">
                        <input type="text" id="input_username" name="username" placeholder="username">
                        <button id="login" class="btn btn-primary">Login</button>
                    </div>
                    <!--
                    </form>
                    -->
                </div>
                <div id="logout_form" class="child1">
                    <!-- this activate logout function which allows users to logout -->
                    <div class="child2">
                        <button id="logout" class="btn btn-primary">Logout</button>
                    </div>

                    <!-- this section display who current logged in user is -->
                    <div class="child2">
                        <h2 id="logout_block">Welcome, <p id="current_username">{{ username }}</p></h2>
                    </div>
                </div>
                <p id="login_status" style="display: none;">{{ login_status }}</p>
                <p id="login_error" style="display: none;">{{ login_error }}</p>
                <p id="current_channel" style="display: none;">{{ channelname }}</p>
            </div>
            <hr>
            <div id="channel_box">
                <div id="channel_form">
                    <!-- Subtitle of main page -->
                    <div id="subtitle_center2" class="form-group">
                        <input type="text" id="channelname" name="channelname" placeholder="channelname">
                        <button id="channel_submit" class="btn btn-success">Create</button>
                    </div>
                </div>
                <div id="channel_list">
                    {% for channel in channels %}
                    <form action="{{ url_for('channelSelectPost') }}" method="post">
                        <div class="channel">
                            <input type="text" name="hiddenChannel" value="{{ channel }}" style="display:none;">
                            <button class="btn btn-link">{{ channel }}</button>
                            <button class="btn btn-outline-danger" onclick="removeOld(`{{ channel }}`, this.parentNode)" style="float:right;">Remove</button>
                        </div>
                    </form>
                    {% endfor %}
                </div>
            </div>
            <div id="chat_box">
                <h2>Current Channel: {{ channelname }}</h2>
                <div id="subtitle_center2" class="form-group">
                    <input type="text" id="message">
                    <button id="chat_submit" class="btn btn-primary">Send</button>
                </div>
                <div>
                    {% for chat in choosenChats %}
                    <div class="selected_time" value="{{ chat.time }}">{{ chat.time }}</div>
                    <div class="selected_user" value="{{ chat.user }}">{{ chat.user }}</div>
                    <div class="selected_message" value="{{ chat.message }}">{{ chat.message }}</div>
                    {% endfor %}
                    <div id="chat_list">

                    </div>
                </div>
            </div>
            <div style="display: none;">
                <button id="remove"></button>
            </div>
        </div>
    </body>
</html>